<style>
	.flex-direction-nav{
        display: none;
    }
</style>

<div data-role="view" data-title="BirdPics" data-layout="main" data-model="APP.models.birds" data-reload="true">
      <a data-role="backbutton" >back</a>
    <div data-role="header" class="headbg">
        
        <div  class="toggle" data-role="tabstrip">
        <!--    <a href="views/birds.html" data-icon="featured">Birds</a> -->
            <a href="views/BirdInfo.html" data-icon="info">Bird-Info</a>
            <a href="views/BirdPics.html" data-icon="camera">Pics</a>
            <a href="views/BirdMaps.html" data-icon="globe">Map</a>
        </div>
       
    </div>
    <div id="sliderContainer" style="width: 90vw; margin:auto;">
        <div class="flexslider">
            <ul class="slides">
            </ul>
        </div>
      
    </div>
    <script>
        kendo.mobile.application.showLoading();
        
        if (selectedBird === -1) {
            selectedBird = birds[0].ID_Bird;
        }

        var sbm = birds.filter(function (obj) {
            return (obj.ID_Bird === selectedBird);
        })[0];
        
        var doneTrying = 0;
        var totalThings = 2;
        
        var checkSliderStatus = function(){
            if(doneTrying == totalThings){
                $('.flexslider').flexslider({
            		animation: "slide"
        		});
                kendo.mobile.application.hideLoading();
            }
        }
        
        for (tnP = 0; tnP < totalThings; tnP++) {
            var imagePath = 'images/bird/' + sbm.imgFriendlyName + tnP + '.jpg';
            var currentImage = $("<img src='" + imagePath + "' />");
            
            currentImage.load(function(){
                	var li = $("<li />");
                	li.append(this);
                	$(".slides").append(li);
                    doneTrying++;
                	checkSliderStatus();
            	})
            	.error(function(){
                	doneTrying++;
                	checkSliderStatus();
            	});
        }
        
        $("header-button").click(function(event){
    $(".tabstrip:visible").hide();
    $(".tabstrip:hidden").show();
    event.preventDefault();
});
    </script>

</div>