<script>
    if (selectedBird == -1) {
        selectedBird = birds[0].ID_Bird;
    }
</script>
<div data-role="view" data-title="BirdInfo" data-layout="main" data-model="APP.models.birds" data-reload="true">
    <a data-role="backbutton" >back</a>
    <div data-role="header" class="headbg">
        <div data-role="tabstrip">
      <!--      <a href="views/birds.html" data-icon="featured">Birds</a> -->
            <a href="views/BirdInfo.html" data-icon="info">Bird-Info</a>
            <a href="views/BirdPics.html" data-icon="camera">Pics</a>
            <a href="views/BirdMaps.html" data-icon="globe">Map</a>
        </div>
    </div>
    <div id="birdInfoContainer"></div>
    <style>
        .paddingBottom {
            padding: 5px 0;
        }
        
		.HideMe p:nth-of-type(2)
		{
		display: none;
		}		
    </style>

    <script>
        //Get the selected bird (sbm = selectedBirdModel)
        var sbm = birds.filter(function (obj) {
            return (obj.ID_Bird == selectedBird);
        })[0];

        var table = $("<table style='width:95%; margin: auto;'></table>");

        var header = $("<tr><td colspan='2'><h3 style='margin-left:0;'>" + sbm.Main_Heading + "</h3></td><td>");
        table.append(header);

        var authorName = $("<tr style='border-bottom:thin solid lightgrey;'><td class='paddingBottom'>Author</td><td class='paddingBottom'>" + sbm.AuthorName + "</td></tr>");
        table.append(authorName);

        var scienficName = $("<tr><td>Scientific:</td><td>" + sbm.Scientific_Name + "</td></tr>");
        table.append(scienficName);

        var afrikaansName = $("<tr style='border-bottom:thin solid lightgrey;'><td class='paddingBottom'>Afrikaans: </td><td class='paddingBottom'>" + sbm.Afrikaans_Name + "</td></tr>");
        table.append(afrikaansName);

        var birdTr = $("<tr style='border-bottom:thin solid lightgrey;'></tr>");
        var birdTd = $("<td colspan='2' class='paddingBottom audioCell'></td");
        var noSoundMessage = $("<span>No bird sound currently available.</span>");
        var birdAudio = $("<audio controls src='images/sounds/" + sbm.ID_Bird + ".mp3' type='audio/mp3'> </audio>");
        var birdSound = birdTr.append(birdTd.append(noSoundMessage));
        
        birdAudio.on("loadedmetadata", function(){
        	noSoundMessage.remove();
            birdTd.append(birdAudio);
        });
        
        table.append(birdSound);

        var bodyContent = $("<tr class='HideMe'' style='border-bottom:thin solid lightgrey;'><td colspan='2' class='paddingBottom'>" + sbm.Body_Content + "</td><td>");
        table.append(bodyContent);

        var birdStatus = $("<tr style='border-bottom:thin solid lightgrey;'><td class='paddingBottom'>Status:</td><td class='paddingBottom'>" + sbm.Status + "</td></tr>");
        table.append(birdStatus);

        var habitat = $("<tr style='border-bottom:thin solid lightgrey;'><td class='paddingBottom'>Habitat:</td><td class='paddingBottom'>" + sbm.Habitat + "</td></tr>");
        table.append(habitat);

        var food = $("<tr style='border-bottom:thin solid lightgrey;'><td class='paddingBottom'>Food:</td><td class='paddingBottom'>" + sbm.Food + "</td></tr>");
        table.append(food);

        var voice = $("<tr style='border-bottom:thin solid lightgrey;'><td class='paddingBottom'>Voice:</td><td class='paddingBottom'>" + sbm.Voice + "</td></tr>");
        table.append(voice);

        var breeding = $("<tr><td class='paddingBottom'>Breeding:</td><td class='paddingBottom'>" + sbm.Breeding + "</td></tr>");
        table.append(breeding);

        $("#birdInfoContainer").append(table);

        setTimeout(function () {

            var readyState = $("audio")[0].readyState;

            if (readyState == 0) {
                $("audio").remove();
                $(".audioCell").append("<span>No sound currently available.</span>")
            }

        }, 250);
        
        $(document).ready(function() {
    $(".Body_Content p:eq(1)").hide();
});
        
        
    </script>
</div>