<script>
    	//Function to get the query string parameter from the current location
        function getParameterByName(name) {
        	name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
           	var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"), results = regex.exec(window.location.hash);
    		
           	return results === null ? -1 : decodeURIComponent(results[1].replace(/\+/g, " "));
       	}
        
        var familyId = getParameterByName("familyId");
        
        var loadingMessage = $("<span>Loading birds...</span>");
        $("#birdsPageList").append(loadingMessage);
        
        //If the birds are not done loading
        var birdsLoadedCheck = setInterval(function(){
            if(birdsLoaded){
            	initializeBirds();  
            }
        }, 500);
        
        function initializeBirds(){
            window.clearInterval(birdsLoadedCheck);
            loadingMessage.remove();
            
            var w = 152, h = 152, html = '', limitItem = 960;
            var filteredBirds = birds;
            
            if(familyId != -1){
                filteredBirds = filteredBirds.filter(function (obj) {
            		return (obj.ID_Issue == familyId);
            	});
            }
            
            if(filteredBirds.length == 0){
                var noDataText = $("<span>No birds could be found...</span>");
                
                $("#birdsFreewall").append(noDataText);
            }
        //   var currentItem;
          filteredBirds.forEach(function(item){
             //   var imagePath = item.images.length == 0 ? "" : item.images[0];
                          var imagePath = 'images/bird/' + item.imgFriendlyName + 'tmb.jpg';
              // var currentItem = $("<div bird-id='" + item.ID_Bird + "' class='cell' style='width:" + w + "px; height: " + h  + "px; background-image: url(" + imagePath + ");'></div>");
           var  currentItem = $("<div bird-id='" + item.ID_Bird + "' class='cell' style='width:" + w + "px; height: " + h  + "px;'><span class='textpos2';>" + item.Main_Heading + "</span></div>");
          		
               tnIMG = new Image();
              tnIMG.src = imagePath;
              tnIMG.width = 167;
               tnIMG.height = 167;
           tnIMG.className = 'imgThumbs';
               
             
              $(currentItem).prepend(tnIMG);
               
              currentItem.on('click', function(){
              	var currentItemId = $(this).attr("bird-id");
                
                   selectedBird = currentItemId;
                	window.location.hash = "views/BirdInfo.html";
            	});
            
            	$("#birdsFreewall").append(currentItem);
            });
            
          
            
            var wall = new Freewall("#birdsFreewall");
    		wall.reset({
        		selector: '.cell',
        		animate: true,
        		cellW: 150,
        		cellH: 150,
        		onResize: function () {
            		wall.refresh();
        		}
    		});
    
       		wall.fitWidth();
    
        	// For scroll bar appear;
    		$(window).trigger("resize");
        }
    </script>

<div data-role="view" data-title="Birds" data-layout="main" data-model="APP.models.birds" data-reload="true">
 <a data-role="backbutton">back</a>
   <div data-role="header">

        <div data-role="tabstrip">
             
     <!--  <a href="views/birds.html" data-icon="featured">Birds A-Z</a> -->
            <a href="views/BirdInfo.html" data-icon="info">Bird-Info</a>
            <a href="views/BirdPics.html" data-icon="camera">Pics</a>
            <a href="views/BirdMaps.html" data-icon="globe">Map</a>
        </div>

    </div>
    
    <div id="birdsFreewall" class="free-wall"></div>

</div>    